<%= form_with(model: problem) do |form| %>
  <% if problem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
        <% problem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :lang, style: "display: block" %>
    <%= form.text_field :lang %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_area :code %>
  </div>

  <div>
    <%= form.label :test, style: "display: block" %>
    <%= form.text_area :test %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
